@media print {
  body {
    background-color: #fff;
    background: #fff;
    margin: 2.5em;
    padding: 0;
    color: #000;
    text-align: center; }
  body * {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    color: #000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 1em !important;
    border: none;
    border-color: transparent; }
  body #s4-ribbonrow, body .s4-ql, body #v5-page-column-sidebar, body #v5-header, body .no-print, body .sp-form .company-branding, body .sp-form .error, body .sp-form .warning, body .sp-form .req, body .sp-form button, body .sp-form .form-action, body .sp-form .btn, body .sp-form .form-breadcrumbs, body .sp-form .form-status, body .sp-form .form-nav, body #BackToTop, body .sp-form .sp-validate-person, body .sp-form .sp-lookup-person, body .sp-form .rte, body .sp-form .json, body button {
    display: none !important; }
  body .print-only {
    display: block !important; }
  body .panel {
    border: none; }
  body .sp-form {
    display: block;
    width: 100%;
    margin: auto;
    text-align: left;
    border: none;
    font-size: 11pt; }
  body .sp-form h1, body .sp-form h2, body .sp-form h3, body .sp-form h4 {
    clear: left;
    font-weight: normal;
    color: #000;
    padding: 1em;
    margin: 1em 0; }
  body .sp-form h1 {
    font-size: 16pt; }
  body .sp-form h2 {
    font-size: 14pt; }
  body .sp-form h3 {
    font-size: 12pt; }
  body .sp-form h4 {
    font-size: 11pt;
    border-bottom: 1px solid #000; }
  body .sp-form strong {
    font-weight: normal;
    border-bottom: 1px solid #000; }
  body .sp-form table {
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 10px auto !important; }
  body .sp-form table td, body .sp-form table th {
    border: 0 solid #ccc;
    border-width: 0 0 1px 0;
    padding: 5px !important;
    text-align: left; }
  body .sp-form ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    height: auto;
    padding: 5px; }
  body .sp-form em {
    font-weight: bold;
    font-size: .7em;
    font-style: oblique;
    color: #000; }
  body .sp-form input, body .sp-form textarea {
    padding: 2px !important;
    max-width: 70%;
    border-width: 0;
    border-color: transparent;
    border-bottom: 1px solid #000;
    min-height: 25px;
    margin: 0 5px !important; }
  body .sp-form textarea {
    padding: 5px !important;
    width: 90%;
    height: 100px;
    display: block; }
  body .sp-form input[type='checkbox'], body .sp-form input[type='radio'], body .sp-form .checkbox, body .sp-form .radio {
    width: auto;
    height: auto;
    min-height: 25px;
    margin: 0 5px !important;
    padding: 0;
    position: relative;
    border-width: 0;
    cursor: pointer; }
  body .sp-form input.long {
    width: 300px; }
  body .sp-form input.med {
    width: 140px; }
  body .sp-form input.short {
    width: 70px; }
  body .sp-form input.abbr {
    width: 2em; }
  body .sp-form .date {
    width: 140px !important; }
  body .sp-form select {
    height: 29px;
    margin: 0 5px !important;
    border-style: solid;
    border-width: 1px; }
  body .sp-form .attachment-form {
    width: 45%;
    display: block;
    float: left;
    height: auto; }
  body .sp-form .attachment-form table {
    width: 100%; }
  body .sp-form .content-editable {
    border: 1px solid #777;
    min-height: 120px;
    height: auto;
    padding: 5px !important; }
  body .sp-form .form-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
  body .sp-form .form-nav ul li {
    margin: 2px !important;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    height: auto; }
  body .sp-form label {
    font-weight: normal;
    font-size: 9pt; }
  body .sp-form label::after {
    content: ': '; }
  body .sp-form section {
    padding: 2em;
    border-radius: 5px; } }
